.intro h1{
    text-decoration: none;
    color: blue;
    font-size: 350%;
    font-family: Verdana,sans-serif;
    text-align: center;
}
.intro h1:hover {
    color: red;
}
.intro h1 {
    transition: color 0.8s linear 0.2s;
}



.explanation{

    width: 100px;
    height: 100px;
    background: #f92672;
    transition: width 2s, height 2s, margin 2s;
    margin: 50px auto 0;
}

.explanation p {
    visibility: hidden;
}
.explanation:hover p {
    visibility: visible;
}
.explanation:hover{
    width: 100%;
    height: 200px;
    margin: 0 auto;
}


.participation{
    width: 100px;
    height: 100px;
    background: #FDFD96;
    transition: width 2s, height 2s, margin 2s;
    margin: 50px auto 0;
}
.participation:hover{
    width: 100%;
    height: 200px;
    margin: 0 auto;
}

.participation p {
    visibility: hidden;
}
.participation:hover p {
    visibility: visible;

}
.benefits{
    width: 100px;
    height: 100px;
    background: #FDFD96;
    transition: width 2s, height 2s, margin 2s;
    margin: 50px auto 0;
}
.benefits:hover{
    width: 100%;
    height: 200px;
    margin: 0 auto;
}
.benefits p {
    visibility: hidden;
}
.benefits:hover p {
    visibility: visible;
}



.requirements{
     width: 100px;
    height: 100px;
    background: #FDFD96;
    transition: width 2s, height 2s, margin 2s;
    margin: 50px auto 0;
}
.requirements:hover{
    width: 100%;
    height: 200px;
    margin: 0 auto;
}

.requirements p {
    visibility: hidden;
}
.requirements:hover p {
    visibility: visible;
}


.design-selection{
    width: 100px;
    height: 100px;
    background: #FDFD96;
    transition: width 2s, height 2s, margin 2s;
    margin: 50px auto 0;
}
.design-selection:hover{
    width: 100%;
    height: 200px;
    margin: 0 auto;
}
.design-selection p {
    visibility: hidden;
}
.design-selection:hover p {
    visibility: visible;
}


.design-archives{
     width: 100px;
    height: 100px;
    background: #FDFD96;
    transition: width 2s, height 2s, margin 2s;
    margin: 50px auto 0;
}
.design-archives:hover{
    width: 100%;
    height: 200px;
    margin: 0 auto;
}
.design-archives p {
    visibility: hidden;
}
.design-archives:hover p {
    visibility: visible;
}


.zen-resources{
     width: 100px;
    height: 100px;
    background: #FDFD96;
    transition: width 2s, height 2s, margin 2s;
    margin: 50px auto 0;
}
.zen-resources:hover{
    width: 100%;
    height: 200px;
    margin: 0 auto;
}
.zen-resources p {
    visibility: hidden;
}
.zen-resources:hover p {
    visibility: visible;
}

