/* Importando Roboto desde google fonts */
@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,700';

/* Todos los elementos*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: #FAFAFA;
    height: 100%;
}

body {
    background-color: #1D1D1B;
    background-image: url('bg_top.png');
    background-position: top center;
    background-repeat: repeat-x;
    background-size: auto 150px;
}

h1,
h2,
h3 {
	color: #FFFFFF;
}


h1,
h2 {
	text-align: center;
	font-variant: small-caps;
	font-weight: 100;
}

h1 {
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	font-size: 4.5rem;
}

h1::after {
	content: '';
	display: block;
	width: 60%;
	margin: 0 auto;
	height: 1px;
	background-color: #FF0000;
}

h2 {
	font-size: 1.5rem;
	font-weight: 300;
	margin-bottom: 2rem;
}

h3 {
	font-size: 2rem;
	margin-top: 1.75rem;
	margin-bottom: 0.75rem;
	font-weight: 700;
	text-align: left;
	border-bottom: 1px solid #FF0000;
}

h3::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 0.5rem;
	height: 2.75rem;
	margin-right: 0.5rem;
	background-color: #FF0000;
}

a {
	text-decoration: none;
}

a:link {
	color: #FFC107;
}

a:visited {
    color: #FFEB3B;
}

a:hover, a:focus, a:active {
    color: #FFEB3B;
}

abbr {
    border-bottom: none;
}

p {
	padding-left: 1.5rem;
	font-weight: 300;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	text-align: justify;
	font-size: 1.15rem;
}

footer {
	clear: both;
	margin-top: 3rem;
	border-top: 1px solid #FF0000;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
}

footer a {
	display: inline-block;
	vertical-align: middle;
	height: 4rem;
	width: 4rem;
	line-height: 4rem;
	text-align: center;
	background-color: #FFFFFF;
	color: #FF0000;
}

footer a:not(:last-child) {
	margin-right: 1rem;
}

footer a:link {
	color: #FF0000;
}

footer a:visited {
    color: #1D1D1B;
}

footer a:hover,
footer a:focus,
footer a:active {
    color: #FF1744;
}

.page-wrapper {
    position: relative;
    padding-left: 7.5%;
    padding-right: 7.5%;
}

.intro {
    padding-top: 100px;
    background-size: auto 100px;
    background-repeat: repeat-x;
    background-position: center top;
}

.summary p {
	font-size: 1.15rem;
	text-align: center;
	padding: 0;
}

.preamble {
	margin-top: 4rem;
}

.preamble p {
	text-align: justify;
}

.preamble,
.explanation,
.participation,
.benefits,
.requirements {
	float: left;
	clear; left;
	width: 66%;
}

.sidebar {
	font-weight: 300;
}

.sidebar .wrapper {
	position: absolute;
	right: 0;
	width: 33%;
	top: 435px;
	padding-right: 7.5%;
}

.sidebar h3 {
	font-size: 1.5rem;
	margin-top: 2.50rem;
	margin-bottom: 0.75rem;
	font-weight: 300;
	text-align: left;
	border-bottom: 1px solid #FF0000;
}

.sidebar h3::before {
	display: none;
}

.sidebar ul {
	list-style: none;
}

.sidebar li:not(:last-child) {
	margin-bottom: 1.0rem;
}

.design-selection li {
	font-style: italic;
	font-family: serif;
}

.design-selection li a:first-child {
	display: block;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-variant: small-caps;
	font-size: 1.25rem;
	font-style: normal;
}

.design-selection li a:last-child {
	font-weight: 900;
}

.design-selection li a:last-child {
	color: #FFFFFF;
}
